.fondo{
    -fx-background-image: url("../images/fondo.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: #0598ff;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; /* Color del texto */
}
