.fondo {
    -fx-background-image: url("../images/fondo.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.fondoVentanaPpal {
    -fx-background-image: url("../images/fondo-ventana-principal.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.fondoVentanaDetalles {
    -fx-background-image: url("../images/fondo-ventana-detalles.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.fondoVentanaPedido {
    -fx-background-image: url("../images/fondo-ventana-pedido.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: #0598ff;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; /* Color del texto */
}

/*
Centrar el contenido de las celdas
*/
.table-cell:filled {
    -fx-alignment: CENTER;
}

/*
Centrar titulo de la columna y darle color
*/
.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
    -fx-background-color: #0598ff;
}